doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, \
                                   minimum-scale=1.0, \
                                   initial-scale=1.0, \
                                   user-scalable=yes")
    title inline-arrangement demo
    script(src="../../../webcomponentsjs/webcomponents-lite.js")
    link(rel="import", href="../../../polymer/polymer.html")
    link(rel="import", href="../InlinePiece.html")
    link(rel="import", href="../InlineNode.html")
    link(rel="import", href="../InlineLine.html")
    link(rel="import", href="../../../lift-dragger/build/lift-dragger.html")

    style.

      inline-piece {
        //- border: 1px purple solid;
        padding: 0px 1px;
      }

      .tab {
        width: 2em;
        display: inline-block;
      }
  body
    inline-node#root(draw=true)

    //- lift-dragger
    //- inline-node(draw=true)
      inline-line
        inline-node#node1
          inline-line
            inline-piece#pc1
              span first line
          inline-line(indent=1)
            inline-piece#pc2
              span second line
            inline-node#node2
              inline-line
                inline-piece#pc3
                  span nested node first line 1
                inline-piece#pc4
                  span nested node first line 2
              inline-line(indent=1)
                inline-piece#pc5
                  span nested node second line
                inline-node#node2
                  inline-line
                    inline-piece#pc6
                      span nested node first line 1
                    inline-piece#pc7
                      span nested node first line 2
                  inline-line
                    inline-piece#pc8
                      span nested node second line
          inline-line
            inline-piece#pc9
              span second line
            inline-node#node2
              inline-line
                inline-piece#pc10
                  span nested node first line 1
                inline-piece#pc11
                  span nested node first line 2
              inline-line(indent=1)
                inline-piece#pc12
                  span nested node second line
                inline-node#node2
                  inline-line
                    inline-piece#pc13
                      span nested node first line 1
                    inline-piece#pc14
                      span nested node first line 2
                  inline-line
                    inline-piece#pc15
                      span nested node second line
          inline-line(indent=-1)
            inline-node#node3
              inline-line
                inline-piece
                  span return to orignal
//-
  first line
    second line nested node first line 1 nested node first line 2
      nested node second line nested node first line 1 nested node first line 2
      nested node second line

  second line nested node first line 1 nested node first line 2
    nested node second line nested node first line nested node first line 2
    nested node second line

script(src='InlineArrangementDemo.js')