link(rel="import", href="../../polymer/polymer.html")

dom-module#inline-piece
  style.
    :host {
      box-sizing: border-box;

      display: flex;
      align-items: center;
      
      white-space: nowrap;
    }

  template
    content

dom-module#inline-tabstop
  style.
    :host {
      box-sizing: border-box;
    }

  template

script(src="InlinePiece.js")