link(rel="import", href="../../polymer/polymer.html")

dom-module#inline-block
  style.
    :host {
      box-sizing: border-box;
    }

    ::content inline-fragment, inline-block {
      position: absolute;
    }

  template
    content(select="inline-fragment, inline-block")

script(src="InlineBlock.js")