link(rel="import", href="../../polymer/polymer.html")

dom-module#inline-line
  style.
    :host {
      box-sizing: border-box;
    }

  template
    content(select="{{childrenSelector}}")

script(src="InlineLine.js")